---
import { changeLanguage } from "i18next";
import Normal from "../../layouts/Normal.astro";

changeLanguage("ro");
---

<Normal noPadding={true} className="items-center justify-center text-center">
  <h1 class="text-6xl">404</h1>
  <span class="text-2xl">"There's nothing here!"</span>
</Normal>
