---
import Cursor from "../components/Cursor.astro";
import FooterCategory from "../components/FooterCategory.astro";
import "../styles/global.css";
import "@fontsource/inter";

interface LayoutProps {
  extraClass?: string;
  efxEnabled?: boolean;
  centeredItems?: boolean;
}

const { extraClass, efxEnabled, centeredItems } = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="w-full h-full text-white bg-black">
    <div class={`text-center w-full h-full ${extraClass}`}>
      <Cursor />

      <div class={`${efxEnabled ? "app" : ""} w-full h-full`}>
        <div
          class={`${centeredItems ? "flex flex-col justify-center items-center w-full h-full gap-2" : ""}`}
        >
          <slot />
        </div>
      </div>
    </div>
  </body>

  <footer
    class="bg-[#101010] border-t border-t-[#202020] w-full flex flex-col px-8 py-4 md:px-20 lg:px-36 xl:px-42 2xl:px-64 gap-2 transition-[2000ms]"
  >
    <div
      class="flex flex-row flex-wrap justify-center gap-8 items-center text-[16px]"
    >
      <FooterCategory header="Project">
        <a href="/docs">Documentation</a>
        <a href="https://git.alex427.com/alexs-stuff/oneshot-3d">Source Code</a>
      </FooterCategory>
      <FooterCategory header="Legal">
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
      </FooterCategory>
      <FooterCategory header="Support">
        <a href="/donate">Donations &lt;3</a>
      </FooterCategory>
    </div>
    <div class="w-full border border-[#202020]"></div>
    <div class="flex flex-col text-[16px] text-center md:text-left pt-2">
      <span
        >Copyright &copy; {new Date().getFullYear()} Alex's Stuff. All rights reserved.</span
      >
      <span
        >&quot;OneShot&quot;, &quot;Niko OneShot&quot; is property of <strong
          >Future Cat Games</strong
        > and <strong>Komodo</strong>.</span
      >
    </div>
  </footer>
</html>
