---
import Cursor from "../components/Cursor.astro";
import "../styles/global.css";
import '@fontsource/inter';

const {extraClass} = Astro.props
---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="generator" content={Astro.generator} />
		<title>OneShot 3D</title>

	</head>



		<body class={`w-full h-full bg-black text-white ${extraClass}`}>
		<Cursor/>
		
		<div class="app w-full h-full">
			<slot/>
		</div>
	</body>
	
</html>


