---
import Cursor from "../components/Cursor.astro";
import Footer from "../components/Footer.astro";
import FooterCategory from "../components/FooterCategory.astro";
import "../styles/global.css";
import "@fontsource/inter";

interface LayoutProps {
  extraClass?: string;
  extraClassApp?: string;
  efxEnabled?: boolean;
  centeredItems?: boolean;
}

const { extraClass, extraClassApp, efxEnabled } = Astro.props as LayoutProps;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="w-full h-auto min-h-full   text-white bg-black">
     <Cursor />
    <div class={`text-center w-full min-h-screen pb-12 ${extraClass}`}>
     

      <div class={`${efxEnabled ? "app" : ""} ${extraClassApp} w-full min-h-screen h-auto`}>
          <slot />
      </div>
    </div>
    <Footer/>
  </body>

</html>
