@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --color-os-primary-bg: #000;
  --color-os-primary-bg-hi: #ffffff15;
  --color-os-primary-fg: #fff;
}

@theme {
  --breakpoint-xss: 25rem;
  --breakpoint-xs: 30rem;
  --breakpoint-xls: 35rem;
  --breakpoint-sl: 42.5rem;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-terminus: "Terminus", sans-serif;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline;
}
