---
import NavbarButton from "./NavbarButton.astro";


---

<nav
  class="fixed w-full top-0 h-12 bg-black/35 text-white backdrop-blur-xl flex flex-row justify-between border-b-white/5 border-b z-100"
>
  <div class="h-full w-auto flex flex-row p-0.5 items-center">
    <NavbarButton href="/" buttonText="Home" />
    <NavbarButton href="/about" buttonText="About" />
  </div>
  <div></div>
</nav>
