---
import { changeLanguage } from "i18next";
import Normal from "../../layouts/Normal.astro";

changeLanguage("ru");
---

<Normal className="items-center">
  <span class="w-full text-center text-3xl">this oneshot in 3d </span>
  <span class="w-full text-center text-2xl">some socials: </span>
  <div
    class="flex w-full max-w-[35%] flex-row flex-wrap items-center justify-center gap-6 text-2xl"
  >
    <a class="underline" href="https://discord.gg/E8DnA6ZjJP">discord server</a>
    <a class="underline" href="https://t.me/oneshot3d">telegram channel</a>
    <a class="underline" href="https://tiktok.com/@al_ex427">tiktok account</a>
    <a class="underline" href="">game store (steam)</a>
    <a class="underline" href="">game store (itch)</a>
  </div>
</Normal>
