---
import { localizePath } from "astro-i18next";

const { buttonText, href } = Astro.props;
---

<a
  data-nav-href={href}
  href={localizePath(href)}
  class="relative flex h-9 flex-col items-center justify-center rounded-lg px-4 text-center text-[24px] transition-all duration-[127ms] hover:bg-white/15"
>
  <span class="select-none">{buttonText}</span>
</a>
