@import "tailwindcss";

:root {
    --col-primary: #0f0e14;
    --col-primary-outline: #211f27;
    --col-text-primary: #ffffff;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;

        font-family: "Inter", sans-serif;
    }
    
    h1 {
        font-size: var(--text-3xl);
        font-weight: 600;
    }
    
}



@theme {
    --color-primary: var(--col-primary);
    --color-primary-outline: var(--col-primary-outline);

    --color-primary-text: var(--col-text-primary);
}

@theme {
    --breakpoint-xss: 25rem;
    --breakpoint-xs: 30rem;
    --breakpoint-xls: 35rem;
    --breakpoint-sl: 42.5rem;
}