---
import i18next from "i18next";
import { localizePath } from "astro-i18next";

const { header, buttons } = Astro.props as {
  header: string;
  buttons?: FooterCategoryButton[];
};

export type FooterCategoryButton = {
  text: string;
  href: string;
};
---

<div
  class="xs:text-left flex h-auto min-h-20 w-auto min-w-46.5 flex-col items-center text-center text-[20px] text-[#b3b3b3]">
  <span class="text-os-primary-fg w-full text-[18px] font-bold tracking-wider"
    >{header.toUpperCase()}</span
  >
  <div class="flex w-full flex-col items-center justify-end gap-1">
    {
      buttons?.map((button) => (
        <a
          class="hover:text-os-primary-fg w-full transition-[127ms]"
          href={localizePath(button.href, i18next.language)}>
          {button.text}
        </a>
      ))
    }
  </div>
</div>
