---
import { Icon } from "astro-icon/components";

const { icon, href } = Astro.props as {
  icon: string;
  href: string;
};
---

<a
  class="group xs:w-7 xs:h-7 flex h-10 w-10 flex-col items-center justify-center"
  href={href}>
  <Icon
    name={icon}
    class="group:hover:scale-200 xs:scale-125 xs:group-hover:scale-150 scale-175 text-white/75 transition-[127ms] group-hover:text-white"
  />
</a>
