---
const { header, buttons } = Astro.props as { header: string, buttons?: FooterCategoryButton[] };

export type FooterCategoryButton = {
  text: string;
  href: string;
}
---

<div
  class="flex h-auto w-auto min-w-46.5 min-h-28 flex-col items-center text-[20px] text-[#b3b3b3] xs:text-left text-center"
>
  <span class="w-full text-[18px] font-bold tracking-wider text-white">{header.toUpperCase()}</span>
  <div class="w-full flex flex-col items-center justify-end gap-1">
    {buttons?.map((button) => (
      <a
        class="transition-[127ms]  hover:text-white w-full "
        href={button.href}>{button.text}</a>
    ))}
  </div>
</div>
