---
import FooterCategory from "./FooterCategory.astro";
import i18next, { t } from "i18next";
import FooterSocialIcon from "./FooterSocialIcon.astro";
import { Trans } from "astro-i18next/components";
import {localizePath} from "astro-i18next";

import Dropdown from "../ui/Dropdown.astro";

import langNames from "#public/locales/names.json";

const { pathname } = Astro.url;

---

<footer
  class="font-inter bg-os-primary-bg text-os-primary-fg relative flex w-full flex-col items-center justify-center p-6 pb-4">
  <div
    class="flex h-auto w-full max-w-5xl flex-col items-center justify-center gap-6">
    <div class="flex w-full flex-row justify-center">
      <div
        class="items-between xs:flex-row flex w-full flex-col justify-center">
        <div
          class="xs:order-1 xs:w-[25%] xs:items-start xs:mt-0 order-2 mt-4 flex w-full flex-col items-center">
          <h1 class="xs:text-left w-full text-center text-2xl">OneShot 3D</h1>
          <div
            class="xs:justify-start flex w-full flex-row items-center justify-center">
            <FooterSocialIcon
              href="https://discord.gg/E8DnA6ZjJP"
              icon="fa7-brands:discord"
            />
            <FooterSocialIcon
              href="https://t.me/oneshot3d"
              icon="fa7-brands:telegram"
            />
            <FooterSocialIcon
              href="https://tiktok.com/@al_ex427"
              icon="fa7-brands:tiktok"
            />
          </div>
        </div>
        <div
          class="xs:order-2 xs:w-auto xs:justify-start order-1 flex w-full flex-row flex-wrap items-center justify-center gap-4 pb-8 md:pb-0">
          <FooterCategory
            header={t("footer.categories.support")}
            buttons={[
              {
                text: t("footer.categories.support.documentation"),
                href: "/docs/",
              },
              { text: t("footer.categories.support.donate"), href: "/donate/" },
            ]}
          />
          <FooterCategory
            header={t("footer.categories.legal")}
            buttons={[
              {
                text: t("footer.categories.legal.privacy"),
                href: "/legal/privacy/",
              },
              {
                text: t("footer.categories.legal.terms"),
                href: "/legal/terms/",
              },
            ]}
          />
        </div>
      </div>
    </div>

    <div
      class="xs:gap-0 flex w-full flex-col items-center justify-between gap-2 border-t border-t-[#181818] px-8 pt-4 text-center text-[12px] text-[#7f7f7f] md:text-left lg:flex-row">
      <div class="flex w-full flex-col">
        <span class="w-full pb">
          <Trans i18nKey="footer.disclaimer">
            OneShot is property of <strong>Future Cat Games LLC</strong>, and is
            no way involved with OneShot 3D, Alex's Stuff<br/>
            <span class=""></span>
          </Trans>
        </span>
        <span class="w-full"
          >Copyright &copy; Alex's Stuff 2025-{new Date().getFullYear()}</span
        >
      </div>

      <Dropdown onSelect="this.location = value;" defaultValue={localizePath(pathname, i18next.language)} class="w-56  border border-[#181818]" options={i18next.languages.map((lang) => ({ key: localizePath(pathname, lang), label: langNames[lang as keyof typeof langNames] }))  .sort((a, b) => a.label.localeCompare(b.label))}} />
    </div> 
  </div>
</footer>
