---
import Normal from "../layouts/Normal.astro";
---

<Normal className="text-center justify-center items-center">
    <h1 class="text-6xl">404</h1>
    <span class="text-2xl">"There's nothing here!"</span>
</Normal>