---
import Normal from "../layouts/Normal.astro";

---

<Normal className="items-center">
<div class="w-full h-56 bg-black/30 text-center flex flex-col justify-center items-center">
    <span class="text-2xl md:text-3xl lg:text-4xl -top-24">RELEASING IN</span>
    <h1 class="text-5xl md:text-6xl lg:text-7xl">SOON</h1>
</div>
<span class="text-3xl w-full text-center">this oneshot in 3d </span>
<span class="text-2xl w-full text-center">some socials: </span>
<div class="flex flex-wrap flex-row gap-6 max-w-[35%] justify-center items-center w-full text-2xl">
    <a class="underline" href="https://discord.gg/E8DnA6ZjJP">discord server</a>
    <a class="underline" href="https://t.me/oneshot3d">telegram channel</a>
    <a class="underline" href="https://tiktok.com/@al_ex427">tiktok account</a>
    <a class="underline" href="">game store (steam)</a>
    <a class="underline" href="">game store (itch)</a>
</div>


</Normal>