---
import Normal from "../layouts/Normal.astro";

---

<Normal>
<div class="w-full h-56 bg-black/30 text-center flex flex-col justify-center items-center">
    <span class="text-3xl">RELEASING IN</span>
    <h1 class="text-7xl">XX : XX : XX : XX</h1>
</div>
</Normal>