---
import FooterCategory from "./FooterCategory.astro";
---

<footer class="relative bg-[#000000] w-full p-4 pb-2 text-white flex flex-col">
  <div
    class="w-full flex flex-row flex-wrap justify-center items-center text-center gap-4 pb-8 md:pb-0"
  >
    <FooterCategory header="Support">
      <a
        class="hover:text-white hover:text-[22px] transition-[127ms]"
        href="/docs/">Documentation</a
      >
      <a
        class="hover:text-white hover:text-[22px] transition-[127ms]"
        href="/donate/">Donations &hearts;</a
      >
    </FooterCategory>
    <FooterCategory header="Legal">
      <a
        class="hover:text-white hover:text-[22px] transition-[127ms]"
        href="/legal/terms/">Terms of Service</a
      >
      <a
        class="hover:text-white hover:text-[22px] transition-[127ms]"
        href="/legal/privacy/">Privacy Policy</a
      >
    </FooterCategory>
  </div>

  <div
    class="w-full flex flex-col justify-center items-center gap-4 md:gap-0 md:flex-row md:justify-between md:items-end text-[18px] pt-8"
  >
    <span class="text-center md:text-left"
      >Copyright &copy; Alex's Stuff 2025-{new Date().getFullYear()}</span
    >
    <span class="text-center md:text-right"
      >Niko (OneShot), OneShot is property of Future Cat Games.<br /> All credits
      of their assets goes to them</span
    >
  </div>
</footer>
