---

---

<div id="cursor_oneshot" class="cursor_oneshot"></div>

<script>



const cursor:HTMLElement = document.getElementById("cursor_oneshot")!

cursor.style.visibility = "hidden"

function isMobileDevice() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || window.matchMedia("(max-width: 480px)").matches;
}

document.addEventListener("mousemove", evt => {
    cursor.style.visibility = isMobileDevice() ? "hidden" : "visible"

    let x = evt.clientX / innerWidth;
    let y = evt.clientY / innerHeight;
    document.documentElement.style.setProperty("--mouse-offset-x", x.toString());
    document.documentElement.style.setProperty("--mouse-offset-y", y.toString());
});

document.addEventListener("mouseover", evt => {
  if ((evt.target as HTMLElement)?.closest("a")) {
    cursor.classList.add("active");
  }
});


document.addEventListener("mouseout", evt => {
  if ((evt.target as HTMLElement)?.closest("a")) {
    cursor.classList.remove("active");
  }
});

</script>
<style type="scss">

.cursor_oneshot {
    position: fixed;
    top:0;
    width: 16px;
    height: 16px;
    pointer-events: none; 
    

    background-image: url(/assets/cursorBlack.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translate(
        calc(var(--mouse-offset-x) * 100vw) , 
        calc(var(--mouse-offset-y) * 100vh)
    ) scale(2);

   

    z-index: 999;
    image-rendering: pixelated;  

    animation: none;

}

.cursor_oneshot.active {
    animation: cursor_oneshot_hover_efx 0.75s steps(1) infinite;
}



@keyframes cursor_oneshot_hover_efx {
  0%   { background-position-x: -16px; }
  50%  { background-position-x: -32px; }
  100% { background-position-x: -16px; }
}

</style>