---

const {header} = Astro.props;

---

<div class="min-h-32 min-w-42 p-2  flex flex-col text-left gap-1 justify-start">
				<span class="text-[24px] pb-1 font-semibold">{header}</span>
                <slot/>
</div>