---
    import { Image } from "astro:assets";


  

    const { href, icon, alt } = Astro.props;


---

<a class="flex items-center justify-center w-16 h-16 group"href={href}>
  <Image class="scale-70 opacity-50 group-hover:scale-80 group-hover:opacity-100 duration-255" width={64} height={64}  src={`/assets/icons/${icon}.svg  `} alt={"Icon Button"}></Image>  
  <div class="z-10 bg-black w-auto flex flex-row fixed px-2 scale-0 group-hover:scale-100 duration-200 translate-y-[200%]">
    <span>{alt}</span>  
  </div>
</a>